<footer class="bottom-dashboard">

  <section class="panel status-grid">

    <article>
      <span class="status-icon purple">◴</span>

      <div>
        <small>Melhor volta</small>
        <strong class="purple-text">-</strong>
        <em>-</em>
      </div>
    </article>

    <article>
      <span class="track-mini"></span>

      <div>
        <small>Status da pista</small>
        <strong class="green-text">-</strong>
        <em>-</em>
      </div>
    </article>

    <article>
      <span class="tyre-icon">-</span>

      <div>
        <small>Pneu dominante</small>
        <strong class="yellow-text">-</strong>
        <em>-</em>
      </div>
    </article>

    <article>
      <span class="status-icon">◎</span>

      <div>
        <small>Controle de corrida</small>
        <strong class="green-text">-</strong>
        <em>-</em>
      </div>
    </article>

  </section>

</footer>
