<section class="top-metrics panel">

  <article class="lap-card">
    <span>Volta</span>
    <strong id="lap-counter">-</strong>
  </article>

  <article class="sector-card green">
    <span>Setor 1</span>
    <strong id="sector-1-value">-</strong>
    <small id="sector-1-gap">-</small>
    <i></i>
  </article>

  <article class="sector-card purple">
    <span>Setor 2</span>
    <strong id="sector-2-value">-</strong>
    <small id="sector-2-gap">-</small>
    <i></i>
  </article>

  <article class="sector-card yellow">
    <span>Setor 3</span>
    <strong id="sector-3-value">-</strong>
    <small id="sector-3-gap">-</small>
    <i></i>
  </article>

</section>
